.buttons-like {
  display: flex;
  align-items: center;
}

.main-button-section {
  display: flex;
  gap: 0px;
  position: relative;
}
.fa-thumbs-up {
  color: blue !important;
}

.top-section {
  position: absolute;
  bottom: 37px;
  z-index: 98989898 !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 90%;
  padding: 10px 20px;
  border-radius: 20px;
  background: white;
  display: flex;
  cursor: pointer;
}

.like-name {
  font-size: 20px;
  transition: 2s;
}

.like-name:hover {
  transform: translateY(-15px);
}

.card {
  width: 30.8% !important;
}

.like-heart {
  color: red;
}
